@mixin button($color, $fontSize) {
  /* Button style */
  border: none;
  border-radius: $fontSize *  0.125rem;
  padding: ($fontSize * 0.75rem)  ($fontSize * 1.125rem);
  font-size: $fontSize * 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: $color;
  box-shadow: 0 0 4px #999;
  outline: none;
  background-position: center;
  transition: background 0.8s;
  &:hover {
    background: $color radial-gradient(circle, transparent 1%, $color 1%) center/15000%;
  }
  &:active {
    background-color: darken($color, 5);
    background-size: 100%;
    transition: background 0s;
  }
}
